#page-content
  .container
    .row
      .col-12.p-4
        %h5 Profil twojej firmy
        %p
          Skorzystaj z menu po lewej stronie i wybierz interesującą Cię sekcję
        %p
          Pamietaj że nawet drobny detal może pomoć w reklamie Twojej firmy!
