.SelectedElementsList {
  list-style-type: none;
  overflow:auto;
  margin: 0;
  padding: 3px;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.elementSelected {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.removeButton {
  color: #999;
  cursor: pointer;
  font-weight: bold;
  margin-right: 3px;
}

.removeButton:hover {
  color: black;
}
