#page-content
  .container
    .row
      .col-12.center-content
        .p-4
          %h2 Nowa podstrona
          = simple_form_for(@page, url: company_settings_pages_path) do |f|
            = render 'form', f: f
            .form-actions
              = f.button :submit, 'Utwórz podstronę', class: 'btn btn-large btn-dark'
            = link_to :back do
              %i.fas.fa-arrow-left
              Powrót
