#page-content
  .container-fluid
    .row
      .col-md-12.text-center.background-image.background-image__foto1.center-content
        %div.text-light
          %h3 Organizujesz impreze?
          %h3 A może masz firmę i chcesz ją zareklamować?
          %h3 Partizer Ci pomoże!
          = link_to "Zarejestruj się już dziś!", root_path, class: 'btn btn-large btn-dark'
    .row
      .col-md-6.text-center.background-image.background-image__foto2.center-content
        %h1.text-light Dla Ciebie
      .col-md-6.d-flex.justify-content-center.align-items-center.center-content
        .text-center
          Nasz prosty kreator pomoże skompletować ci wszystkie usługipotrzebne do zorganizowania imprezy Twoich marzeń.
          %br
          %br
          Nie ważne czy organizujesz wesele, urodziny czy możemały zjazd rodzinny - skorzystaj z naszej aplikacji!
          %br
          %br
          W naszej bazie znajduje się aktualnie 999 firmrozsianych po całym kraju
    .row
      .col-md-6.center-content
        .text-center
          Prowadzisz restaurację, kwiaciarnię, zespół muzyczny czy dowolnyinny biznes związany z imprezami?
          %br
          %br
          Skorzystaj z naszego katalogu i reklamuj swoją firmę już dziś!
          %br
          %br
          Duża baza potencjalnych klientów,łatwy kontakt i darmowa rejestracja!
          %br
          %br
          Zapraszamy.
      .col-md-6.text-center.background-image.background-image__foto3.center-content
        %h1.text-light Dla Twojej firmy

