#page-content
  .container-fluid
    .row
      .col-12.center-content
        .p-4
          %h2 Załóż swoją firmę
          = simple_form_for(@company, url: users_companies_path) do |f|
            = render 'form', f: f
            .form-actions
              = f.button :submit, 'Załóż firmę', class: 'btn btn-large btn-dark'
            = link_to :back do
              %i.fas.fa-arrow-left
              Powrót
