.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;

  &-remove {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;

    &:hover {
      text-decoration: none;
    }
  }
}

.mapouter {
  position: relative;
  height: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
}

.page-item.active .page-link {
  background-color: #484848;
  border-color: #484848;
}
