<p>Cześć <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Skontaktujemy się z Tobą, aby powiadomić Cię o zmianie adresu e-mail na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twój adres e-mail został zmieniony na <%= @resource.email %>.</p>
<% end %>
