<p>Cześć <%= @resource.email %>!</p>

<p>Ktoś poprosił o zmianę hasła. Możesz to zrobić klikając w poniższy link</p>

<p><%= link_to 'Zmień moje hasło', root_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli Ty nie prosiłeś o to, to zignoruj ten mail.</p>
<p>Twoje hasło nie zmieni się, dopóki nie uzyskasz dostępu do powyższego linku i nie utworzysz nowego.</p>
